*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-s;
}

body
{
	
	background: linear-gradient(45deg, #ffaf00, #bb02ff);
	background-attachment: fixed;
}
h1
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	background: #ffaf00;
	color: #fff;
	
}

h1:hover
{
	transition: 0.5s;
	background: #fff;
	color: #ffaf00;
	transform: scale(1.1);
	margin-left: 40px;
}


.main
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

.main .container
{
	position: relative;
	width: 1400px;
	padding: 20px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.main .container .card
{
	position: relative;
	width: 300px;
	height: 420px;
	background: #fff;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 15px 25px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.main .container:hover .card
{
	filter: blur(20px);
	transform: scale(0.9);
	opacity: 0.5;
}
.main .container .card:hover
{
	filter: blur(0px);
	transform: scale(1.1);
	opacity: 1;
}
.main .container .card .circle
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #ffaf00;
	clip-path: circle(180px at center 0);
	text-align: center;
}
.main .container .card .circle h2
{
	color: #fff;
	font-size: 4.5em;
	padding: 30px 0;
}
.main .container .card .content
{
	position: absolute;
	bottom: 10px;
	padding: 20px;
	text-align: center;
}
.main .container .card .content p
{
	color: #666;
}
.main .container .card .content a
{
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background: #ffaf00;
	color: #fff;
	border-radius: 40px;
	text-decoration: none;
	margin-top: 20px;
}

.footer
{
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	background: #ffaf00;
	color: #fff;
	border-radius: 40px;
	text-decoration: none;
	margin: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.2);

}
h3, h4, h5
{
	margin: 10px;
	font-size: 18px;
}


